/* You can add global styles to this file, and also import other style files */
nav {
    background-color: var(--gray-900);
    padding: 1rem;
  }

  nav ul {
    width: 1024px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  div {
    width: 1024px;
    
  }
  